.description-product{
    color:#fff;
    font-family:'Roboto',sans-serif;
    
    
   
}

.description-product > .heart{
        position: absolute;
        transform: translateX(-100% );
        left:-47px;
        top:5px;
        cursor:pointer;
        
}

.description-product .icon{
    transform: 100ms;
}
.description-product .icon:hover{
    transform: scale(1.2);
}

.description-product > .title{
    margin-bottom:50px;
    font-size:25px;
}

.description-product > .item{
    
    font-size:20px;
    margin-bottom:28px;
    
}
.description-product > .item.-star{
    margin-bottom:10px;
    cursor: pointer;
}

.description-product > .item.-star+ .item{
    margin-left:7px;
}
.description-product > .item.-info{
    text-align: right;
    width:300px;
}
.description-product > .item.-info.-last{
    margin-bottom:72px;
}
.description-product .contrast{
    float:left;
    text-transform: uppercase;
}
.description-product > .text{
    font-size:18px;
    line-height: 30px;
    margin-bottom:30px;
}
.description-product > .text.-more{
    margin-bottom: 0;
}
.description-product .action{
    color:inherit;
    text-decoration: none;
}
