.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom:138px;
  padding-left: 60px;
}

.header-store > .title {
  float: left;
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  text-transform: uppercase;
  cursor:pointer;
}

.header-store > .navigation {
  float: right;
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
}

.header-store input[type="search"]{
      background-color: transparent;
      border:none;
      border-bottom: 1px solid white;
      font-family: Arial, "Roboto", sans-serif;
      color:inherit;
      font-size:20px;
      padding: 8px;
      width: 358px;
      margin-right: 65px;
      outline: none;
}
.header-store input[type="search"]::placeholder { /* Firefox, Chrome, Opera */ 
  color: #fff; 
} 

.header-store .action {
  margin-right: 60px;
  text-decoration: none;
  color: inherit;
}

.header-store .action.-last {
  margin-right: 0;
}
