@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@font-face {
  font-family: "MenuNav";
  src: url("segoe-ui-9.ttf");
}

header {
  background-color: #e24647;
  color: #fff;
  overflow:hidden;
  margin:0 115px;
  padding:55px 60px 95px;
  
}

h1 {
  float:left;
  font-size: 40px;
  font-family: Arial,sans-serif;
  
}

nav {
  float: right;
 
  font-size: 21px;
  font-family: 'Segoe UI','Roboto', sans-serif;
}

a {
  text-decoration: none;
  color:inherit;
}
